<div class="container form-top">
  <div class="col-md-5 col-md-offset-4">
    <h1>Create a Profile:</h1>

    <%= render 'form', profile: @profile %>

    <%= link_to 'Back', profiles_path %>
  </div>
</div>