<div class="container form-top">
  <div class="col-md-5 col-md-offset-4">
        <h1>Create a Program</h1>

        <%= render 'form', product: @product %>

        <%= link_to 'Back', products_path %>
    </div>
</div>