<br><br><br><br><br><br><br><br>
<h2>Thanks <%=current_user.email%>, you paid for: <%=@product.title%> <strong><%=number_to_currency(@product.price/100.0)%></strong>!</h2>
<br>
<h2> View Purchased item </h2>
